@model List<Product>
@using App.Components
@{
    List<Category> categories = ViewBag.categories as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title : "Tất Cả Sản Phẩm";
}

@section Popup {

    @await Component.InvokeAsync(CategorySideBar.COMPONENTNAME,
        new CategorySideBar.CategorySideBarData()
{
    level = 0,
    Categories = ViewBag.categories,
    slugCategory = ViewBag.categoryslug,
    brands = ViewBag.brands,
    slugBrand = ViewBag.brandslug
})
}

<div class="mainshop" id="wrapper_mainshop">
    <div class="headline headline_mainshop" style="padding-top: 0; padding-left: 5%;">Shop</div>
    <div class="content_shop">
        <ul class="products">
            @foreach (var product in Model)
            {
                <li class="product-item">
                    <div class="product-top">
                        <a href="@Url.Action("Detail", "Shop", new { id = product.Id })" class="product-thumb">
                            <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                alt="@product.Name">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="@Url.Action("Detail", "Shop", new { id = product.Id })"
                            class="product-name">@product.Name</a>
                        <div class="product-price">@product.Price.ToString("N0") VND</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //jquery for toggle sub menus
        $('.sub-btn').click(function () {
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('fa-bicycle fa-person-biking');
        });
    });
</script>